<div class="container" id="home-container">
	<div id="home-page">
		<h1>Home</h1><br>
		<div id="user-info" hidden="true">
			<b>User ID:</b> <span id="user_id"></span><br><br>
			<b>First name:</b> <span id="user_fn"></span><br><br>
			<b>Last name:</b> <span id="user_ln"></span><br><br>
			<b>Email address:</b> <span id="user_email"></span><br><br>
			<b>Username:</b> <span id="user_username"></span><br><br>
			<b>Password:</b> <span id="user_password"></span><br><br>
			<b>TYPE:</b> <span id="user_type"></span><br><br>
		</div>
		
		<hr>
		
		<table class="table" id="employee-view">
			
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Amount</th>
					<th scope="col">Author</th>
					<th scope="col">Status</th>
					<th scope="col">Type</th>
				</tr>

			</thead>
			
			<tbody id="employee-body">
				
			</tbody>
			
		</table>
		
		<table class="table" id="manager-view">
			
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Id</th>
					<th scope="col">Amount</th>
					<th scope="col">Author</th>
					<th scope="col">Status</th>
					<th scope="col">Type</th>
				</tr>
			</thead>
			
			<tbody id='manager-body'>
				<tr>
					<th scope="row">1</th>

				</tr>
			</tbody>
			
		</table>
	</div>
</div>