<div class="container" id="home-container">
	<div id="home-page">
		<h1>Home</h1><br>
		<div id="user-info">
			<b>User ID:</b> <span id="user_id"></span><br><br>
			<b>First name:</b> <span id="user_fn"></span><br><br>
			<b>Last name:</b> <span id="user_ln"></span><br><br>
			<b>Email address:</b> <span id="user_email"></span><br><br>
			<b>Username:</b> <span id="user_username"></span><br><br>
			<b>Password:</b> <span id="user_password"></span><br><br>
			<b>TYPE:</b> <span id="user_type"></span><br><br>
		</div>
		
		<hr>
		
		<table class="table" id="userAccounts-table">
			
			<thead>
				<tr>
					<th>Account Id</th>
					<th>Account Type</th>
					<th>Balance</th>
				</tr>
			</thead>
			
			<tbody></tbody>
			
		</table>
	</div>
</div>